.fixed {
	margin : 0;
}

.lets{

	visibility: hidden;
	margin : 0;
}

#map_canvas {
	
	height : 100%;
}

#map-contain{
  	padding: 0px !important;


}

.map-fixed{
	position: fixed;
	height: 100%;
	width: 58.33%;
	top:0px;
}

.sub-item{

	margin-bottom: 0;
	border: 1px solid #E1E1E8;
}

html{

	overflow-x: hidden; 
}
