 <html lang="es"  xmlns="http://www.w3.org/1999/xhtml">
{% load static from staticfiles %}

<head>
 <!-- all css -->
<link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'custom.css' %}">

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

<!-- JS -->
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{%static 'fun.js'%}"></script>
</script>
<script type="text/javascript" src="{% static 'map.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
        var predios = {{object_list_json|safe}};
        </script>
<script type="text/javascript">
        var nacimientos = {{json_object_list|safe}};
         </script>
<script type="text/javascript">
      jQuery(document).ready(function () {

            scrolling.init();
            
});
       
        </script>

<script type="text/javascript">
    $(document).ready(function(){
      
    
});
        </script>

<!-- Html -->
<title>SIHY</title>
</head>
<body>
  
  <div class="row" >
    
    <div class="well fixed">SIHY</div >
  </div>
  

  <div class="container-fluid">
    <div class="row" >
        <div id="map-contain" class="col-md-7 hidden-xs  col-sm-5"  > 
          <div id="map-wrap" >
           <div id = "map_canvas" > </div>
           </div> 
        </div>
        <div style="margin: 0" id="info-wrap" class="col-md-5 col-sm-7">
  
            <div style="position:relative ">
                <div class="list-group col-md-6 lets"  id="some" ></div>
                <div class="list-group col-md-6 lets"  id="info" ></div>
                <div class="list-group col-md-12"   id="lista">
                    <li class="list-group-item header well fixed" >Mayor y menor características:</li>
                    <a href="#" id="itm1" class="list-group-item">según área: </a>

                         <div id="sub1" class="collapse sub-item">Predio con mayor área : {{max_area}} </br> Predio con menor área : {{min_area}}</div>

                    <a href="#" id="itm2" class="list-group-item">según caudal: </a>

                         <div id="sub2" class="collapse sub-item">Predio con mayor caudal : {{max_volume}} </br> Predio con menor caudal : {{min_volume}}</div>

                    <a href="#" id="itm3" class="list-group-item">según número de nacimientos:</a>

                         <div id="sub3" class="collapse sub-item">Predio con mayor N° de nacimientos: {{max_source}} </br> Predio con menor N° de nacimientos : {{min_source}}</div>

                    <a href="#" id="itm4"class="list-group-item">según presión antrópica:</a>

                         <div id="sub4" class="collapse sub-item">Predio con mayor P. antrópica : {{max_pressure}} </br> Predio con menor P. antrópica : {{min_pressure}}</div>
                </div>
              <div id="btn-back"> <button class="btn btn-default">Volver</button></div>
           </div>
        </div>
    </div>
  </div>
     
    

</body>
 </html>